@import "../../App.scss";

#header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $header;
    width: 100%;
    margin: 0;

    h1 {
      background-color: transparent;
    }
}