@import "../../App.scss";

#slider {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .sliderItem {
        background-color: $carroselBack;
        padding: 15px;
        border-radius: 15px;

        p {
            background-color: transparent;
        }
    }
}

.swiper-pagination {
    background-color: transparent;
}